@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.ins {
  font-family: "Instrument Serif", serif;
}

.test {
  overflow-x: visible !important;
  overflow-y: hidden !important;
}

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-dark-base: #000000;
  --color-dark-50: #0a0a0a;
  --color-dark-100: #171717;
  --color-dark-200: #262626;
  --color-dark-300: #373737;
  --color-dark-400: #525252;
  --color-dark-500: #8a8a8a;
  --color-dark-600: #a3a3a3;
  --color-dark-700: #d4d4d4;
  --color-dark-800: #e5e5e5;
  --color-dark-900: #f5f5f5;
  --color-dark-950: #fafafa;
}

html {
  color-scheme: dark;
  /* Hide scrollbar for html */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
}

body {
  background-color: var(--color-dark-base);
  color: var(--color-dark-950);
  letter-spacing: -0.04em;
  overflow-y: hidden;
  /* Hide scrollbar for body */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

body::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
}

.container {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.container::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
}